@import "tailwindcss";


@theme {
    --color-jetGray : #222831;
    --color-charcoalGray :#393E46;
    --color-dustyMocha : #948979;
    --color-champagne :#DFD0B8;
}

@layer base {
    .btn {
       width: 100px;
       height: 35px;
       border-radius: 10px;
       background-color: rgb(74, 92, 234);
       color: white;
       font-weight: bold;
    }
    .btn:hover{
        background-color: rgb(33, 33, 222);
    }

}